INPUT {
    font-size:10pt;
}

TEXTAREA {
    font-size:10pt;
}

.graph {
    width: 1000px;
    height: 70px;
}

.raster {
    width: 1000px;
    height: 10px;
}

.value {
    font-size: 10pt;
    display: inline;
    color: red;
}

Myleft {
    margin-left: 40px;
}
